<div class="row random-users">
    <div class="columns large-12 small-12 medium-12">
      <div class="columns small-8 medium-8 large-8 text-left">
        <img class="thumbnail" src="<%= user.avatar_url %>" alt="User Photo">
        <span class=""><%= link_to  user.username, user_path(user.username) %></span>
      </div>

      <div class="columns small-4 medium-4 large-4 text-right" id="fue-button<%= user.id %>">
        <%= button_to "Follow", relationships_path(id: user), remote: true, class: "button tiny hollow success" %>
      </div>
    </div>

    <div class="columns small-12 medium-12 large-12 random-body-post text-center">
      <div class="row text-center align-center">
        <div class="columns small-3 large-3">
          <span id="user-posts<%= user.id %>"><%= user.posts.size %></span>
          <h6>Posts</h6>
        </div>
        <div class="columns small-3 large-3">
          <span id="user-followers<%= user.id %>"><%= user.followers.size %></span>
          <h6>Followers</h6>
        </div>
        <div class="columns small-3 large-3">
          <span id="user-following<%= user.id %>"><%= user.following.size %></span>
          <h6>Following</h6>
        </div>
      </div>
    </div>
</div>