<% provide(:title, "@#{@user.username}") %>

<div class="row align-center text-center">
  <div class="column small-12 large-7 medium-7 profile">
    <div class="profile-background-img" data-interchange="[<%= @user.profile_background_avatar.url(:large) %>, small], [<%= @user.profile_background_avatar.url(:large) %>, medium], [<%= @user.profile_background_avatar.url(:large) %>, large]">
      <div class="column text-right fue-button" id="fue-button<%= @user.id %>">
        <%= render 'relationships/relationships_form', object: @user %>
      </div>

      <div class="columns large-12 small-12 profile-attr">
        <div class="row text-center align-right">
          <div class="columns small-3 large-3 user-posts">
            <span id="user-posts">0</span>
            <h6>Posts</h6>
          </div>
          <div class="columns small-3 large-3">
            <span id="user-followers"><%= @user.followers.count %></span>
            <h6>Followers</h6>
          </div>
          <div class="columns small-3 large-3">
            <span id="user-following"><%= @user.following.count %></span>
            <h6>Following</h6>
          </div>
        </div>
      </div>
      <!-- highlight profile aatributes -->
      <div class="column profile-bl align-self-top"></div>
    </div>


    <div class="row">
      <div class="column large-4 small-4 text-right profile-img">
        <img class="thumbnail" src="<%= @user.avatar.url(:thumb) %>" alt="User Photo">
      </div>
      <div class="column large-8 small-8">
          <div class="column profile-username text-left">
            <%= @user.username%>
          </div>
      </div>
    </div>
  </div>
</div>