<div class="column small-12 large-12 medium-12 main-post">
  <div class="row column post-nav">
    <img class="thumbnail" src="<%= post.user_avatar_url %>" alt="User Photo">
    <span class="post-nav-username"><%= link_to  post.user_username, user_path(post.user_username) %></span>
    <span class="post-nav-in">on</span>
    <span class="post-nav-cate"><%= link_to  post.category, category_path(str_free(post.category)) %></span>
    <span class="float-right post-nav-time"><%= time_ago_in_words(post.created_at) %> ago</span>
  </div>
  <div class="row column post-body">
    <div class="column post-title">
      <h3><%= link_to  truncate(post.title, length: 40), post_path(post) %></h3>
    </div>
    <div class="column post-nav-content fr-view">
      <%= simple_format(post.image_content, {}, sanitize: false) %>
    </div>
    <div class="column post-readmore">
      <%= link_to 'Read more', post_path(post) %>
    </div>

    <% if real_current_user?(post.user) && user_signed_in? %>
      <div class="column text-right edit-delete">
        <%= link_to edit_post_path(post) do %>
            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
        <% end %>
        <%= link_to post, data: { confirm: "Are you sure?" }, method: :delete do %>
            <i class="fa fa-trash-o fa-lg alert" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row column post-loveit">
    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
    <span class="love-count">10</span>

    <%= link_to post, class: "float-right" do %>
        <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i>
        <%= post.comments.size %>
    <% end %>
  </div>
</div>