<div class="row align-center content-wraper-home">
  <div class="column large-8 form-register">
    <h1 class="text-center form-logo">Hyra</h1>
    <%= form_for @post do |f| %>
        <%= render 'layouts/error_messages', object: @post %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :content %>
        <%= f.text_area :content, class: "post-content", rows: 10 %>
        <%= f.label :category %>
        <%= f.select :category, options_for_select([['Love', "Love"], ['Apology', "Apology"], ['Farewell', "Farewell"], ['Thank You', "Thank You"]], @category)%>
        <%= f.submit "UPDATE", class: "button hollow small"%>
    <% end %>
  </div>
</div>