<div class="row align-center">
  <div class="column large-8 small-12 show-post">
    <div class="row">
      <div class="column small-12 medium-12 large-12 post-title"><%= @post.title %></div>
      <div class="column small-12 medium-12 large-12 post-content"><%= @post.content %></div>

      <div class="column small-12 medium-12 large-12 post-tags">
        TAGS: broken, first-love
      </div>

      <div class="column small-12 medium-12 large-12 post-social">
        <div class="row">
          <div class="column text-left">
            <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
            <span>12</span>
            <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i>
            <span>12</span>
          </div>
          <div class="column text-right">
            <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="column large-2 small-3 text-center show-post-uimg">
        <img class="thumbnail" src="<%= @post.user.avatar.url(:thumb) %>" alt="User Photo">
      </div>
      <div class="column large-10 small-8 showt-post-unt">
        <div class="column small-12 medium-12 large-12 show-post-um">
          <%= @post.user.username %>

        </div>
        <div class="column small-12 medium-12 large-12 show-post-time"><%= time_ago_in_words(@post.created_at) %></div>
      </div>
    </div>
  </div>
</div>