<div class="top-bar hide-for-medium-only hide-for-small-only">
    <nav class="row large-8 medium-10 small-12 top-bar-nav">
      <div class="logo-wrapper">
        <strong><%= link_to 'Hyra', root_path %></strong>
      </div>

      <div class="column large-7 medium-7 small-7 categories">
        <ul class="no-bullet nav-category">
          <li><%= link_to 'Love', category_path(category: "Love")%></li>
          <li><%= link_to 'Apology', category_path(category: "Apology")%></li>
          <li><%= link_to 'Thank You', category_path(category: "ThankYou")%></li>
          <li><%= link_to 'Farewell', category_path(category: "Farewell")%></li>
        </ul>
      </div>

      <div class="column large-5 medium-5 small-5 text-right categories">
        <ul class="no-bullet nav-category">
          <% if user_signed_in? %>
              <li>
                 <%= link_to users_path do %>
                    <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                  <% end %>
              </li>
              <!-- /
             <a data-toggle="inbox"><i class="fa fa-inbox" aria-hidden="true"></i></a>
              <%#= render 'inboxes/user_inbox' %>-->
              <li><%= link_to 'Write a letter', posts_path %></li>
              <li><%= link_to 'Profile', user_path(current_user.username) %></li>
              <li><%= link_to 'Signout', destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to 'Log in', new_user_session_path  %></li>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
</div>