<div class="top-bar hide-for-small-only">
    <nav class="column row large-8">
      <div class="top-bar-title"><h4 class="subheader"><strong><%= link_to 'Hyra', root_path %></strong></h4></div>

      <div class="top-bar-left">
        <% if user_signed_in? %>
          <a href="<%= root_path %>"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
        <% end %>
      </div>
      <div class="top-bar-right nav-link">
        <% if user_signed_in? %>
          <small class="nav-world"><%= link_to 'Write', posts_path %></small>
            /
          <small class="nav-profile"><%= link_to 'Profile', user_path(current_user.username) %></small>
            /
          <small class="nav-signout"><%= link_to 'Signout', destroy_user_session_path, method: :delete %></small>
        <% else %>
          <small class="nav-login"><%= link_to 'Log in', new_user_session_path  %></small>
            /
          <small class="nav-login"><%= link_to 'Sign up', new_user_registration_path %></small>
        <% end %>
      </div>
    </nav>
</div>