<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- navigation for desktop -->
<%= render 'layouts/navbar' %>

<!-- navigation for mobile -->

<%= render 'layouts/mobilenav' %>

<!-- Display notice messages -->
<%#= render 'layouts/notice_messages'%>

<%= yield %>

<div class="div row column text-center" style="margin-top: 50px">
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
